@media(min-width:1000px) {
.c\(pink\)\:h--md:hover{
color: pink;
}
}
@media(min-width:1000px) {
.cur\(pointer\)\:h--md:hover{
cursor: pointer;
}
}
@media(min-width:1000px) {
.trs\(color\,1s\)--md{
transition: color 1s;
}
}
.h\(2\.4rem\){
height: 2.4rem;
}
.w\(6rem\){
width: 6rem;
}
.p\(\.8rem\){
padding: .8rem;
}
.d\(flex\){
display: flex;
}
.p\(0\){
padding: 0;
}
.m\(0\,0\,\.5rem\,0\){
margin: 0 0 .5rem 0;
}
.m\(0\){
margin: 0;
}
.ml\(auto\,\!important\){
margin-left: auto !important;
}
.fz\(22px\,\!important\){
font-size: 22px !important;
}
.mb\(0\){
margin-bottom: 0;
}
.h\(50vw\){
height: 50vw;
}
.bd\(b\){
border: 1px solid #dedede;
}
.mb\(1em\){
margin-bottom: 1em;
}
.p\(\.4em\){
padding: .4em;
}
.bdt\(b\){
border-top: 1px solid #dedede;
}
.bdb\(b\){
border-bottom: 1px solid #dedede;
}
.w\(100\%\){
width: 100%;
}
.h\(15vw\){
height: 15vw;
}
.bdr\(b\){
border-right: 1px solid #dedede;
}
.bdl\(b\){
border-left: 1px solid #dedede;
}
.h\(100\%\){
height: 100%;
}
.c\(\#ff0033\){
color: #ff0033;
}
.fz\(\.8rem\){
font-size: .8rem;
}
.d\(inline-block\){
display: inline-block;
}
.ml\(4px\){
margin-left: 4px;
}
.m\(8px\){
margin: 8px;
}
.m\(4px\,8px\){
margin: 4px 8px;
}
.cur\(pointer\){
cursor: pointer;
}
.w\(40\%\){
width: 40%;
}
.bd\(1px\,solid\,\#ccc\){
border: 1px solid #ccc;
}
.bdrs\(4px\){
border-radius: 4px;
}
.p\(8px\,16px\){
padding: 8px 16px;
}
.bd\(1px\,solid\,\#dedede\){
border: 1px solid #dedede;
}
.bdb\(1px\,solid\,\#dedede\){
border-bottom: 1px solid #dedede;
}
.p\(4px\,8px\){
padding: 4px 8px;
}
.fz\(18px\){
font-size: 18px;
}
.m\(8px\,0\,0\,12px\){
margin: 8px 0 0 12px;
}
.c\(gray\){
color: gray;
}
.fz\(12px\){
font-size: 12px;
}
.mb\(12px\){
margin-bottom: 12px;
}
