.boxShadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.boxShadow-hovering {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease-in-out;
}

.boxShadow-hovering:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.centerizeContent {
    @media (min-width: 0px) {
        width: 94%;
    }
    @media (min-width: 840px) {
        width: 78%;
    }
    @media (min-width: 1400px) {
        width: 48%;
    }
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.centerizeContent-header {
    padding: .2rem 0;
    .centerizeContent {
        display: flex;
    }
}

.page {
    padding: .2rem .4rem;
    margin-top: .6rem;
}

.page-label {
    h1 {
        font-size: 1.6rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    margin-bottom: .6rem;
}

.mini-block {
    @media (min-width: 0px) {
        width: 100%;
    }
    @media (min-width: 840px) {
        width: 62%;
    }
    @media (min-width: 1400px) {
        width: 48%;
    }
    margin-left: auto;
    margin-right: auto;
}